<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wonders.libmgt.mapper.TypeOneMapper">
  <resultMap id="BaseResultMap" type="com.wonders.libmgt.pojo.TypeOne">
    <id column="type_one_id" jdbcType="INTEGER" property="typeOneId" />
    <result column="book_type_id" jdbcType="INTEGER" property="bookTypeId" />
    <result column="type_one_type" jdbcType="VARCHAR" property="typeOneType" />
    <result column="type_one_value" jdbcType="VARCHAR" property="typeOneValue" />
  </resultMap>
  <sql id="Base_Column_List">
    type_one_id, book_type_id, type_one_type, type_one_value
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from type_one
    where type_one_id = #{typeOneId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from type_one
    where type_one_id = #{typeOneId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wonders.libmgt.pojo.TypeOne">
    insert into type_one (type_one_id, book_type_id, type_one_type, 
      type_one_value)
    values (#{typeOneId,jdbcType=INTEGER}, #{bookTypeId,jdbcType=INTEGER}, #{typeOneType,jdbcType=VARCHAR}, 
      #{typeOneValue,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wonders.libmgt.pojo.TypeOne">
    insert into type_one
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="typeOneId != null">
        type_one_id,
      </if>
      <if test="bookTypeId != null">
        book_type_id,
      </if>
      <if test="typeOneType != null">
        type_one_type,
      </if>
      <if test="typeOneValue != null">
        type_one_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="typeOneId != null">
        #{typeOneId,jdbcType=INTEGER},
      </if>
      <if test="bookTypeId != null">
        #{bookTypeId,jdbcType=INTEGER},
      </if>
      <if test="typeOneType != null">
        #{typeOneType,jdbcType=VARCHAR},
      </if>
      <if test="typeOneValue != null">
        #{typeOneValue,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wonders.libmgt.pojo.TypeOne">
    update type_one
    <set>
      <if test="bookTypeId != null">
        book_type_id = #{bookTypeId,jdbcType=INTEGER},
      </if>
      <if test="typeOneType != null">
        type_one_type = #{typeOneType,jdbcType=VARCHAR},
      </if>
      <if test="typeOneValue != null">
        type_one_value = #{typeOneValue,jdbcType=VARCHAR},
      </if>
    </set>
    where type_one_id = #{typeOneId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wonders.libmgt.pojo.TypeOne">
    update type_one
    set book_type_id = #{bookTypeId,jdbcType=INTEGER},
      type_one_type = #{typeOneType,jdbcType=VARCHAR},
      type_one_value = #{typeOneValue,jdbcType=VARCHAR}
    where type_one_id = #{typeOneId,jdbcType=INTEGER}
  </update>

  <select id="selectByBId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from type_one
    where book_type_id = #{bookTypeId,jdbcType=INTEGER}
  </select>
</mapper>